# Directorio de entorno virtual
venv/
env/

# Archivos de Python generados
__pycache__/
*.pyc
*.pyo

# Archivos de registro
*.log

# Archivo de entorno local
.env

# Carpeta de migraciones generada por Flask-Migrate
/migrations

.data/